<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualização de Equipa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<style>
    form .Cjc{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #348de0;
    color: #fff;
    }
</style>
<body>
   
    <h4>Atualizar Equipa</h4>
    <div class="container">
    <form action="/updateData/<%= equipas[0].id %>" method="post">
        <input type="text" placeholder="Username" name="username" value="<%= equipas[0].username %>">
        <input type="number" placeholder="Numero" name="number" value="<%= equipas[0].number %>">
        <input type="password" placeholder="Senha" name="password" value="<%= equipas[0].password %>" autocomplete="off">     
        <input  type="submit" value="Enviar" class="Cjc">
    </form>
</div>   
</body>
</html>